.container {
  // padding-right: 20px;
  // padding-left: 20px;
}
.cow {
  background-color: $bg-pink-light;
}
.milk-section {
  text-align: center;
}
.milk-before-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  color: $accent-color;
}
.milk-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-color;
}
.firt-of-article {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $txt-black;
}
.second-of-article {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $txt-gray;
}
.milk-button {
  width: 176px;
  height: 44px;
  background: $txt-white url('../images/button-icon-pink.svg') no-repeat 143px;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $primary-color;
  border-color: transparent;
  margin: 0;
  transition: all 250ms ease-in-out;
  &:hover {
    box-shadow: 0px 8px 30px rgb(212 20 67 / 30%);
    background-color: #ecebeb;
  }
}
.cow {
  padding-top: 125px;
  padding-bottom: 39px;
  background-image: url('../images/about/about-bg-desk.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.milk-before-title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
}
.milk-title {
  font-size: 34px;
  line-height: 39px;
  margin-bottom: 26px;
}
.first-of-article {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin: 0;
  margin-bottom: 47px;
}
.second-of-article {
  font-size: 12px;
  line-height: 162%;
  margin: 0;
  margin-bottom: 17px;
}
@media screen and (max-width: 768px) {
  .milk-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 320px) {
  .cow-photo {
    margin: 0;
    margin-right: 17px;
  }
  .cow {
    background-image: none;
  }
  .cow {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  .milk-text {
    min-width: 220px;
    margin-top: 50px;
  }
  .milk-before-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .milk-title {
    font-size: 34px;
    line-height: 39px;
    margin-bottom: 50px;
  }
  .first-of-article {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    margin: 0;
    margin-bottom: 49px;
  }
  .second-of-article {
    font-size: 12px;
    line-height: 162%;
    margin: 0;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 768px) {
  .photo-cow {
    margin: 0;
    margin-right: 17px;
  }
  .cow {
    background-image: none;
  }
  .milk-info {
    display: flex;
  }
  .cow {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  .milk-text {
    width: 340px;
    margin-top: 50px;
  }
  .milk-before-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .milk-title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 50px;
  }
  .first-of-article {
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    margin: 0;
    margin-bottom: 49px;
  }
  .second-of-article {
    font-size: 12px;
    line-height: 162%;
    margin: 0;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .cow {
    background-image: url('../images/about/about-bg-desk.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
  }
  .photo-cow {
    margin-right: 74px;
  }
  .milk-text {
    width: 463px;
  }
  .milk-info {
    display: flex;
  }
  .cow {
    padding-top: 125px;
    padding-bottom: 39px;
  }
  .milk-before-title {
    font-size: 30px;
    line-height: 34px;
  }
  .milk-title {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 50px;
  }
  .first-of-article {
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 176%;
    margin: 0;
    margin-bottom: 49px;
  }
  .second-of-article {
    font-size: 14px;
    line-height: 194%;
    margin: 0;
    margin-bottom: 62px;
  }
}
