<section class="section-reviews">
<div class="section-reviews__block-wrap container">
        <img src="./images/testimonials/testimonial-1.png" class="section-reviews__img" alt="" width="85" height="85">
    
        <div class="section-reviews__wrap">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"> <p class="section-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                 In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="section-reviews__text-info">
                    Emily, Los Angeles
                    </p>
            </div>
              <div class="swiper-slide"> <p class="section-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                 In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="section-reviews__text-info">
                    Emily, Los Angeles
                    </p>
            </div>
              <div class="swiper-slide"> <p class="section-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                 In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="section-reviews__text-info">
                    Emily, Los Angeles
                    </p>
            </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>   
   
    </div>
</div>
</section>