$primary-color: #d41443;
$accent-color: #ffa5ba;
$accent1-color: #f0d1a5;
$accent2-color: #c2e297;
$primary-button-color: #d41342;
$secondary-button-hover: #ecebeb;
$txt-white: #ffffff;
$txt-black: #000000;
$txt-gray: #907e82;
$bg-pink-dark: #ffb8ca;
$bg-pink-light: #fff5f6;
