.hero {
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: $bg-pink-dark;
  z-index: 1;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-top: 97px;
    padding-bottom: 28px;
  }
}

.hero-container {
  position: relative;
  padding-left: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 0px;
  }
}

.hero-title {
  margin-bottom: 19px;
  font-family: Titan One;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $txt-white;
  position: relative;
  z-index: 3;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}

.hero-title-accent {
  font-size: 48px;
  line-height: 0.96;
  color: $primary-color;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
}

.hero-btn-container {
  display: flex;
  position: relative;
  z-index: 3;
}

.hero-btn-products {
  margin-right: 8px;
  padding: 9px 14px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: $primary-color;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  color: $txt-white;
  transition: background-color 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero-btn-made {
  padding: 9px 14px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: $txt-white;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  color: $primary-color;
  transition: background-color 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $secondary-button-hover;
  }
}

.hero-icecream-background {
  position: absolute;
  border-radius: 50%;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  top: -128px;
  right: -20%;
  z-index: 1;
  @media screen and (min-width: 768px) {
    top: -62px;
    right: 102px;
    width: 324px;
    height: 322px;
  }
}

.hero-icecream {
  position: absolute;
  bottom: -100px;
  left: 82px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    bottom: -45px;
    left: 70px;
  }
}

// --------------------------------------------
.hero-milk {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }
}

// .hero-milk-pic {
// }

.hero-btn-milk {
  border: 1px solid transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $txt-white;
  margin-top: 7px;
}

.hero-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 8px;
    line-height: 1.5;
    color: $txt-white;
    width: 114px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.hero-btn-more {
  display: none;
}

.hero-cafes {
  display: none;
}

.hero-food-trucks {
  display: none;
}

@media screen and (min-width: 768px) {
}
