<section class="products">
  <div class="container">
        <span class="natural">100% natural</span>
          <h2 class="products-title">products</h2>

        <div class="container-cream">
          <h3 class="ice-menu">ice cream</h3>
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod   tempor incididunt ut labore et
            </p>
        </div>
        <div class="container-coffe">
          <h3 class="ice-menu">ice coffee</h3>
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
        <div class="container-milkshakes">
          <h3 class="ice-menu">milkshakes</h3>
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
      </div>
    <ul>
      <li>
        <svg>
          <use>

          </use>
        </svg>
      </li>
    </ul>
  </div>
</section>