<section class="products">
  <div class="container">
    <p class="natural">100% natural</p>
    <h2 class="products-title">products</h2>

    <div class="container-cream">
      <div class="product-photo-cream">
        <pircture>
          <source srcset="./images/product/product-icecream-desk.png 1x, ./images/product/product-icecream-desk@2x.png 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/product/product-icecream-tab.png 1x, ./images/product/product-icecream-tab@2x.png 2x"
            media="(min-width: 768px)">
          <source srcset="./images/product/product-icecream-mob.png 1x, ./images/product/product-icecream-mob@2x.png 2x"
            media="(min-width: 320px)">
          <img class="product-photo" src="./images/product/product-icecream-desk.png" width="20" height="20"
            alt="photo ice coffee" />
          </picture>
        </div>
      <h3 class="ice-menu">ice cream</h3>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <ul class="product-list">
        <li class="product-item">
          <a href="" class="product-link">
            <svg class="product-icon" width="10" height="10">
              <use 
              href="./images/icons.svg#icon-button-icon">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="container-coffe">
      <pircture>
        <source srcset="./images/product/product-coffee-desk.png 1x, ./images/product/product-coffee-desk@2x.png 2x"
          media="(min-width: 1200px)">
        <source srcset="./images/product/product-coffee-tab.png 1x, ./images/product/product-coffee-tab@2x.png 2x"
          media="(min-width: 768px)">
        <source srcset="./images/product/product-coffee-mob.png 1x, ./images/product/product-coffee-mob@2x.png 2x"
          media="(min-width: 320px)">
        <div class="product-photo-cream">
          <img class="product-photo" src="./images/product/product-coffee-desk.png" width="20" height="20"
            alt="photo ice coffee" />
        </div>
        </picture>
      <h3 class="ice-menu">ice coffee</h3>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <ul class="product-list">
        <li class="product-item">
          <a href="" class="product-link">
            <svg class="product-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-button-icon">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="container-milkshakes">
      <pircture>
        <source srcset="./images/product/product-coffee-desk.png 1x, ./images/product/product-coffee-desk@2x.png 2x"
          media="(min-width: 1200px)">
        <source srcset="./images/product/product-shake-tab.png 1x, ./images/product/product-shake-tab@2x.png 2x"
          media="(min-width: 768px)">
        <source srcset="./images/product/product-shake-mob.png 1x, ./images/product/product-shake-mob@2x.png 2x"
          media="(min-width: 320px)">
        <div class="product-photo-cream">
          <img class="product-photo" src="./images/product/product-shake-mob.png" width="20" height="20"
            alt="photo ice coffee" />
        </div>
        </picture>
      <h3 class="ice-menu">milkshakes</h3>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <ul class="product-list">
        <li class="product-item">
          <a href="" class="product-link">
            <svg class="product-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-button-icon">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <svg>
          <use>

          </use>
        </svg>
      </li>
    </ul>
  </div>
</section>