<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      ice cream<br />made with<br /><span class="hero-title-accent">passion</span>
    </h1>
    <div class="hero-btn-container">
      <a href="#products" class="hero-btn-products">Products</a>
      <a href="#about" class="hero-btn-made">How it’s made?</a>
    </div>
    <div class="hero-milk">
      <picture class="hero-milk-pic">
        <source
          media="(min-width: 1280px)"
          srcset="./images/hero/hero-milk-desk.png 1x, ./images/hero/hero-milk-desk@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/hero-milk-tab.png 1x, ./images/hero/hero-milk-tab@2x.png 2x"
        />
        <img src="./images/hero/hero-milk-tab.png" alt="milk" />
      </picture>
      <div>
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero-btn-milk">
          <svg class="hero-icon-arrow-right">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero-icecream-background">
      <picture class="hero-icecream">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero/hero-icecream-desk.png    1x,
            ./images/hero/hero-icecream-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/hero-icecream-tab.png 1x, ./images/hero/hero-icecream-tab@2x.png 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./images/hero/hero-icecream-mob.png 1x, ./images/hero/hero-icecream-mob@2x.png 2x"
        />
        <img src="./images/hero/hero-icecream-mob.png" alt="icecream" />
      </picture>
    </div>
    <picture class="hero-girl">
      <source
        media="(min-width: 1280px)"
        srcset="./images/hero/hero-girl-desk.png 1x, ./images/hero/hero-girl-desk@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/hero-girl-tab.png 1x, ./images/hero/hero-girl-tab@2x.png 2x"
      />
      <img src="./images/hero/hero-girl-tab.png" alt="girl" />
    </picture>
    <div class="Hero-number">
      <div class="hero-number-cafes">16</div>
      <div class="hero-cafes">cafes</div>
      <div class="hero-number-food-trucks">23</div>
      <div class="hero-food-trucks">food trucks</div>
    </div>
  </div>
</section>
