.section-gallery {
    background: linear-gradient(to bottom, $bg-pink-light 49%, #FFFFFF 49%);
    padding-top: 97px;
    padding-bottom: 80px;
    @media screen and (min-width: 768px) {
      padding-top: 140px;
      padding-bottom: 121px;
      background: linear-gradient(to bottom, $bg-pink-light 47%, #FFFFFF 47%);
    }
    @media screen and (min-width: 1280px) {
      padding-top: 140px;
      padding-bottom: 123px;
      background: linear-gradient(to bottom, $bg-pink-light 45%, #FFFFFF 45%);
    }
  }
.section-gallery__img-tab{
    display: none;
}
.section-gallery__img-desk{
    display: none;
}
@media  screen and (min-width:768px) {
  .section-gallery__img-tab{
      display: block;
  }  
 .section-gallery__img-mob{
     display: none;
 }
 @media  screen and (min-width:1280px){
 .section-gallery__img-tab{
        display: none;
    }  
    .section-gallery__img-mob{
       display: none;
    } 
        .section-gallery__img-desk{
    display: block;
    }
 }
}
.section-gallery__img-wrap{
    margin-left: auto;
    margin-right: auto;
}