.section-gallery{
    padding-top: 97px;
  background-color: $bg-pink-light;
}
.section-gallery__img{
    width: 364px;
    
    @media screen and (min-width:768px) {
        width: 786px;
        height: 264px;
    }
    @media screen and (min-width:1280px) {
        width: 1280px;
        height: 430px;
    }
}