<section class="contacts" id="contacts">
  <div class="container contacts--container">
    <h2 class="contacts__title visually-hidden">Our Locations</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="info">
          <span class="info__category">CAFE</span>
          <span class="info__city">Chicago</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul class="hours__list">
            <li class="hours__item">
              <span class="hours__days">Monday - Friday</span>
              <time class="hours__time">06:00 AM - 10:00 PM</time>
            </li>
            <li class="hours__item">
              <span class="hours__days">Saturday - Sunday</span>
              <time class="hours__time">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <ul class="details__list">
            <li class="details__item">
              <a class="details__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="details__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="info">
          <span class="info__category info__category--green">FOODTRUCK</span>
          <span class="info__city">Los Angeles</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul class="hours__list">
            <li class="hours__item">
              <span class="hours__days">Monday - Friday</span>
              <time class="hours__time">06:00 AM - 10:00 PM</time>
            </li>
            <li class="hours__item">
              <span class="hours__days">Saturday - Sunday</span>
              <time class="hours__time">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <ul class="details__list">
            <li class="details__item">
              <a class="details__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="details__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="info">
          <span class="info__category">CAFE</span>
          <span class="info__city">New York</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul class="hours__list">
            <li class="hours__item">
              <span class="hours__days">Monday - Friday</span>
              <time class="hours__time">06:00 AM - 10:00 PM</time>
            </li>
            <li class="hours__item">
              <span class="hours__days">Saturday - Sunday</span>
              <time class="hours__time">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <ul class="details__list">
            <li class="details__item">
              <a class="details__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
            </li>
            <li class="details__item">
              <a class="details__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="btn-centered">
      <button class="btn-location" type="button">Our Locations</button>
      <button class="btn-franchise" type="button">Franchise</button>
    </div>
  </div>
</section>
