<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Our Locations</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="info">
          <span class="info__category">CAFE</span>
          <span class="info__city">Chicago</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul class="hours__list">
            <li class="hours__item">
              <span>Monday - Friday</span>
              <time>06:00 AM - 10:00 PM</time>
            </li>
            <li class="hours__item">
              <span class="days">Saturday - Sunday</span>
              <time class="time">08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <a class="details__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          <a class="details__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="info">
          <span class="info__category">FOODTRUCK</span>
          <span class="info__city">Los Angeles</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul>
            <li>
              <span>Monday - Friday</span>
              <time>06:00 AM - 10:00 PM</time>
            </li>
            <li>
              <span>Saturday - Sunday</span>
              <time>08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <a href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="info">
          <span class="info__category">CAFE</span>
          <span class="info__city">New York</span>
          <span class="info__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="hours">
          <ul>
            <li>
              <span>Monday - Friday</span>
              <time>06:00 AM - 10:00 PM</time>
            </li>
            <li>
              <span>Saturday - Sunday</span>
              <time>08:00 AM - 16:00 PM</time>
            </li>
          </ul>
        </div>
        <div class="details">
          <a href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  </div>
</section>
