.header {
    margin: 0;
    padding: 0;
}
.header-container {
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    @media screen and (min-width:1200px){
        position: absolute;
        top: 37px;
        left: 46px;
        z-index: 1;
    }
}


.header-container__item_nav {
    @media screen and (min-width:320px) and (max-width:1199px) {
        display: none;
    }
    margin: 0 auto;
    padding: 0;
}

.site-list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & .site-list__item:not(:last-of-type) {
        margin-right: 35px;
    }
}

.header-btn {
    @media screen and (min-width:320px) and (max-width:767px) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    min-width: 159px;
    background-color: #FFFFFF;
    border-radius: 22px;
    border: transparent;
}

.menu-open {
    @media screen and (min-width:1200px){
        display: none;
    }
}