.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.container-cream {
  background: #ffb8ca;
  border-radius: 24px;
  width: 280px;
  height: 485px;
}
.container-coffe {
  background: #f0d1a5;
  border-radius: 24px;
  width: 280px;
  height: 485px;
}
.container-milkshakes {
  background: #c2e297;
  border-radius: 24px;
  width: 280px;
  height: 485px;
}

.natural {
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}

.products-title {
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}

.ice-menu {
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.title {
  font-size: 14px;
  line-height: 152%;

  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 20px;

  color: #ffffff;
}
