<header class="header">
    <div class="container header-container">
        <div class="header-container__item_logo">
            <a href="./index.html"><img src="" alt="logo"></a> 
        </div>
        <div class="header-container__item_nav">
            <nav class="site-nav">
                <ul class="site-list">
                    <li class="site-list__item"><a class="site-list__link" href="./index.html">Home</a></li>
                    <li class="site-list__item"><a class="site-list__link" href="#hero">About us</a></li>
                    <li class="site-list__item"><a class="site-list__link" href="#about">How it's made</a></li>
                    <li class="site-list__item"><a class="site-list__link" href="#advantages">Our products</a></li>
                    <li class="site-list__item"><a class="site-list__link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-container__item_btn">
            <button class="menu-open">x</button>
            <button class="header-btn">Buy now</button>
        </div>
    </div>
</header>